html {
  scroll-behavior: smooth;
}

.stretched_text {
  animation: textBounceStretch 3s 1;
}

@keyframes textBounceStretch {
  0% {
    color: white;
    margin-bottom: -30px;
  }

  30% {
    letter-spacing: 10px;
    margin-bottom: -30px;
  }

  85% {
    letter-spacing: 4px;
    margin-bottom: -30px;
  }
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.java:hover {
  filter: drop-shadow(0 0 2em #eeeeeeaa);
}

.logo.spring:hover {
  filter: drop-shadow(0 0 2em #06c941aa);
}

.logo.spring {
  rotate: 22deg;
}

.logo.java {
  rotate: 6deg;
}

.logo.ts {
  rotate: -14deg;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 8s linear;
  }
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 0em #646cff00);
  }

  50% {
    filter: drop-shadow(0 0 3em #646cff);
  }

  100% {
    filter: drop-shadow(0 0 0em #646cff00);
  }
}

.pulse-glow {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: pulseGlow 3s infinite ease-in-out;
}

section h3 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
}

section h3::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #007acc;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.hide-header {
  transform: translateY(-100%);
}

.border-lagune-400 {
  border: 1px solid #007acc;
}

.text-lagune-500 {
  color: #007acc;
}
